:root{
--primary: #fedbd0;
--secondary: #feeae6;
--darken: #442c2e;
--light:300;
--regular:400;
--medium:500;
}
body{
    color:var(--darken);
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: var(--regular);
    letter-spacing: 0.5;
    line-height: 1.5;
}
h1{
    font-size: 96px;
    font-weight: var(--light);
    letter-spacing: -1.5;
}
h2{
    font-size: 60px;
    font-weight: var(--light);
    letter-spacing: -0.5;
}
h3{
    font-size: 48px;
    font-weight: var(--regular);
    letter-spacing: 0;
}
h4{
    font-size: 34px;
    font-weight: var(--regular);
    letter-spacing: 0.25;
}
h5{
    font-size: 24px;
    font-weight: var(--regular);
    letter-spacing: 0;
}
h6{
    font-size: 20px;
    font-weight: var(--medium);
    letter-spacing: 0.15;
}
p{
    margin:0 0 16px;
}
.subtitle-1{
    font-size: 16px;
    font-weight: var(--regular);
    letter-spacing: 0.15;
}
.subtitle-2{
    font-size: 14px;
    font-weight: var(--medium);
    letter-spacing: 0.1;
}
.body-2{
    font-size:14px;
    font-weight: var(--regular);
    letter-spacing: 0.25;
}
.btn{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--medium);
    letter-spacing: 1.25;
}
.caption{
    font-size: 12px;
    font-weight: var(--regular);
    letter-spacing: 0.4;
}
.overline{
    font-size: 10px;
    font-weight: var(--regular);
    text-transform: uppercase;
    letter-spacing: 1.5;
}
a{
    color:var(--darken);
    font-weight: var(--medium);
}
h1,h2,h3,h4,h4,h5,h6,.article__title,.article__subtitle{
    margin:0 0 8px;
}
header{
    background-color: var(--primary);  
    box-shadow: 0 2px 4px rgba(150,150,150,.5);
}

.article__title{
    margin:0 0 16px;
    font-size: 60px;
    line-height: 1.2;
    font-weight: var(--regular);
}
.article__subtitle{
    font-size: 20px;
    line-height: 1.6;
    font-weight: var(--regular);
}
.button--underline {
    background: 0 0 !important;
    border: none;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: underline;
    text-transform: uppercase;
}
.btn-primary {

    color: var(--darken);
    background-color: var(--primary);
    border-color: var(--secondary);
    border-radius: 10px;
    font-weight: var(--medium);
    font-size: 14px;
    text-transform: uppercase;
    padding:.5rem 1rem;
    font-family: 'rubick'
}

.card{
    /* width:344px; */
    border-radius:4px;
    background-color:#fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
}
.card-header{
    background-color:transparent;
    padding-top: 16px;
    border:none;
    padding-left: 16px;
    padding-right: 16px;
}
.card__title{
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: var(--medium);
    letter-spacing: .0125em;
}
.card-body{
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
}
.card-text{
   font-size:.875rem;
   line-height: 1.25rem;
   font-weight: var(--regular);
   letter-spacing: .017851429em;
   opacity: .6;
}
.card__actions{
    display: flex;
flex-direction: row;
align-items: center;
box-sizing: border-box;
min-height: 52px;
padding: 8px;
}

.card__actions .btn{
    margin-left:0;
    margin-right:8px;
    padding:0 8px;
    font-size: .875rem;
    letter-spacing: .0892857143em;
text-decoration: none;
text-transform: uppercase;
color:var(--darken);
font-weight: var(--medium);
}

/* .text-detail{
    background-color: #feeae6;
    clip-path: polygon(68% 68%, 1% 100%, 100% 100%, 100% 0);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
} */

.text-detail{
    border-top: 1px solid var(--secondary);
    margin-bottom: 48px;
    padding-top: 48px;
}
.text-brief{
    margin:0 0 24px;
    z-index:2
}
.text__heading{
    padding-right: calc((16px * 2) + 24px);
    font-size: 32px;
    z-index:2
}
.text-paragraph{
    color:var(--darken);
    /* padding-right: calc(100% - 560px); */
    padding-right: calc((16px * 2) + 24px);
    width: 100%;
    z-index:2
}